
demoSubjectData/DTIDATA/fibertracts/dtifibers.vtk
demoSubjectData/DTIDATA/fibertracts/mynewfiberdata10000.vtk
demoSubjectData/DTIDATA/fibertracts/mynewfiberdata5000.vtk
demoSubjectData/DTIDATA/fibertracts/mynewfiberdataHoles10000.vtk
demoSubjectData/DTIDATA/heatMaps/aseg.auto.mgz
demoSubjectData/DTIDATA/heatMaps/aseg.auto_gradient.vtk
demoSubjectData/DTIDATA/heatMaps/aseg.auto_temperature.json
demoSubjectData/DTIDATA/heatMaps/aseg.auto_temperature.nii
demoSubjectData/DTIDATA/heatMaps/aseg.auto_temperature_quantized.nii
demoSubjectData/DTIDATA/heatMaps/DTI-aseg.auto.nii
demoSubjectData/DTIDATA/lesionMask/ConnectedComponents.nii
demoSubjectData/DTIDATA/lesionMask/Consensus.nii
demoSubjectData/DTIDATA/lesionMask/slicerSaved/2020-07-01-Scene.mrml
demoSubjectData/DTIDATA/lesionMask/slicerSaved/2020-07-01-Scene.png
demoSubjectData/DTIDATA/lesionMask/slicerSaved/AnnotationROI.acsv
demoSubjectData/DTIDATA/lesionMask/slicerSaved/Consensus.nii
demoSubjectData/DTIDATA/lesionMask/slicerSaved/Segmentation-label.nrrd
demoSubjectData/DTIDATA/lesionMask/slicerSaved/Segmentation-label_ColorTable.ctbl
demoSubjectData/DTIDATA/lesionMask/slicerSaved/Segmentation.seg.nrrd
demoSubjectData/DTIDATA/lesionMask/slicerSaved/VolumeProperty.vp
demoSubjectData/DTIDATA/meta/cras.txt
demoSubjectData/DTIDATA/meta/mrmlGradient2.txt
demoSubjectData/DTIDATA/parcellationLh.json
demoSubjectData/DTIDATA/parcellationLhDTI.json
demoSubjectData/DTIDATA/parcellationRh.json
demoSubjectData/DTIDATA/parcellationRhDTI.json
demoSubjectData/DTIDATA/structural/T1.nii
demoSubjectData/DTIDATA/structural/T1IntensityDifference.nii
demoSubjectData/DTIDATA/structure-def.json
demoSubjectData/DTIDATA/structure-def2.json
demoSubjectData/DTIDATA/structure-def3.json
demoSubjectData/DTIDATA/surfaces/colorArrayContT1.pkl
demoSubjectData/DTIDATA/surfaces/lesions.obj
demoSubjectData/DTIDATA/surfaces/lesions.vtm
demoSubjectData/DTIDATA/surfaces/lesions/lesions_0.vtp
demoSubjectData/DTIDATA/surfaces/lesions/lesions_1.vtp
demoSubjectData/DTIDATA/surfaces/lesions/lesions_2.vtp
demoSubjectData/DTIDATA/surfaces/lesions/lesions_3.vtp
demoSubjectData/DTIDATA/surfaces/lesions/lesions_4.vtp
demoSubjectData/DTIDATA/surfaces/lesions/lesions_5.vtp
demoSubjectData/DTIDATA/surfaces/lesions/lesions_6.vtp
demoSubjectData/DTIDATA/surfaces/lesions/lesions_7.vtp
demoSubjectData/DTIDATA/surfaces/lh.aparc.annot
demoSubjectData/DTIDATA/surfaces/lh.aparc.annot.pial_unfolded.obj
demoSubjectData/DTIDATA/surfaces/lh.aparc.annotXMLPolyDataLabelAndIndexScalars.vtp
demoSubjectData/DTIDATA/surfaces/lh.inflated.obj
demoSubjectData/DTIDATA/surfaces/lh.pial.obj
demoSubjectData/DTIDATA/surfaces/lh.white.obj
demoSubjectData/DTIDATA/surfaces/ProjectionSDM/mappingLh.vtk
demoSubjectData/DTIDATA/surfaces/ProjectionSDM/mappingRh.vtk
demoSubjectData/DTIDATA/surfaces/rh.aparc.annot
demoSubjectData/DTIDATA/surfaces/rh.aparc.annot.pial_unfolded.obj
demoSubjectData/DTIDATA/surfaces/rh.aparc.annotXMLPolyDataLabelAndIndexScalars.vtp
demoSubjectData/DTIDATA/surfaces/rh.inflated.obj
demoSubjectData/DTIDATA/surfaces/rh.pial.obj
demoSubjectData/DTIDATA/surfaces/rh.white.obj
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDataset.xml
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDataset/streamlinesMultiBlockDataset_0.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDataset/streamlinesMultiBlockDataset_1.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDataset/streamlinesMultiBlockDataset_2.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDataset/streamlinesMultiBlockDataset_3.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDataset/streamlinesMultiBlockDataset_4.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDataset/streamlinesMultiBlockDataset_5.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDataset/streamlinesMultiBlockDataset_6.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDataset/streamlinesMultiBlockDataset_7.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI.xml
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI/streamlinesMultiBlockDatasetDTI_0.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI/streamlinesMultiBlockDatasetDTI_1.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI/streamlinesMultiBlockDatasetDTI_2.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI/streamlinesMultiBlockDatasetDTI_3.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI/streamlinesMultiBlockDatasetDTI_4.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI/streamlinesMultiBlockDatasetDTI_5.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI/streamlinesMultiBlockDatasetDTI_6.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI/streamlinesMultiBlockDatasetDTI_7.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI_orig.xml
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI_orig/streamlinesMultiBlockDatasetDTI_0.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI_orig/streamlinesMultiBlockDatasetDTI_1.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI_orig/streamlinesMultiBlockDatasetDTI_2.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI_orig/streamlinesMultiBlockDatasetDTI_3.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI_orig/streamlinesMultiBlockDatasetDTI_4.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI_orig/streamlinesMultiBlockDatasetDTI_5.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI_orig/streamlinesMultiBlockDatasetDTI_6.vtp
demoSubjectData/DTIDATA/surfaces/streamlinesMultiBlockDatasetDTI_orig/streamlinesMultiBlockDatasetDTI_7.vtp
*.pyc
*.pyc
__pycache__/LesionUtils.cpython-37.pyc
__pycache__/LesionMapper.cpython-37.pyc
*.pyc
